<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>alsichat v2</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='css/style.css' />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/alsichat_backbone.js"></script>
	<script src="js/alsichat_main.js"></script>
</head>
<body>
<div class="container">
	<header>
		<section id="black-box">
			<aside>alsichat<span>0.2</span></aside>
			<h1><a href="#">haramcore.</a></h1>
		</section>
		<section id="top-bar">
			karansheth@gmail.com
		</section>
 		<section id="new-thread">
			<a href="#" id="start-thread-btn"><i class="icon-big-plus"></i></a>
		</section>
		<section id="global-stats">
			<ul>
				<li><i class="icon-threads"></i> <strong>32</strong> threads</li>
				<li><i class="icon-replies"></i> <strong>196</strong> replies</li>
				<li>
					<i class="icon-people"></i> <strong>12</strong> members (<mark>6</mark> online)
					<ul>
						<li><a href="#"><mark>Aneesh Sanyal</mark></a></li>
						<li><a href="#"><mark>Arun Nair</mark></a></li>
						<li><a href="#"><mark>Karthik Yermunja</mark></a></li>
						<li><a href="#"><mark>Rohan MC</mark></a></li>
						<li><a href="#"><mark>Sachin Singh</mark></a></li>
						<li><a href="#"><mark>You</mark></a></li>
					</ul>
				</li>
				<li><i class="icon-invite"></i> <strong>Invite</strong></li>
			</ul>
			<footer>
				&copy; 2012, Karan Sheth
			</footer>
		</section>
	</header>

	<nav id="thread-list">
		<ul>
			<li class="odd reading">
				<span class="author">Simanta Datta</span>
				<span class="thread">
					Can any of you sell my epiphone les paul and i sell my fender acoustic and buy one more epi les
					paul here. I am so lost without electric guitar, i can't find no riff in acoustic
				</span>
				<span class="reading-text">You're reading this.</span>
			</li>
			<li class="even">
				<span class="author">
					Indranil Choudhary
				</span>
				<span>
					Anoop Bhat, why do you think Whitesnake, despite being such a kickass band, was so fucking emo?
					Khada nahi hota tha kya bhenchod?
				</span>
			</li>
			<li class="odd">
				<span class="author">
					Dinesh Sukhija
				</span>
				<span class="thread">
					Finished 4 seasons of BB - awesome show! Season 5 has started too
				</span>
			</li>
			<li class="even">
				<span class="author">Simanta Datta</span>
				<span class="thread">
					Can any of you sell my epiphone les paul and i sell my fender acoustic and buy one more epi les
					paul here. I am so lost without electric guitar, i can't find no riff in acoustic
				</span>
			</li>
			<li class="odd">
				<span class="author">
					Indranil Choudhary
				</span>
				<span class="thread">
					Anoop Bhat, why do you think Whitesnake, despite being such a kickass band, was so fucking emo?
					Khada nahi hota tha kya bhenchod?
				</span>
			</li>
			<li class="even">
				<span class="author">
					Indranil Choudhary
				</span>
				<span class=>
					Anoop Bhat, why do you think Whitesnake, despite being such a kickass band, was so fucking emo?
					Khada nahi hota tha kya bhenchod?
				</span>
			</li>
			<li class="odd">
				<span class="author">
					Dinesh Sukhija
				</span>
				<span class="thread">
					Finished 4 seasons of BB - awesome show! Season 5 has started too
				</span>
			</li>
			<li class="even">
				<span class="author">Simanta Datta</span>
				<span class="thread">
					Can any of you sell my epiphone les paul and i sell my fender acoustic and buy one more epi les
					paul here. I am so lost without electric guitar, i can't find no riff in acoustic
				</span>
			</li>
			<li class="odd">
				<span class="author">
					Indranil Choudhary
				</span>
				<span class="thread">
					Anoop Bhat, why do you think Whitesnake, despite being such a kickass band, was so fucking emo?
					Khada nahi hota tha kya bhenchod?
				</span>
			</li>
		</ul>
	</nav>

	<section id="thread-details">
		<section id="new-thread-tip">
			&#171; Start a new thread
			<textarea class="no-display" name="new_thread">Start a new thread</textarea>
		</section>

		<article class="first-post">
			<span class="author">Simanta Datta</span>
			Can any of you sell my epiphone les paul and i sell my fender acoustic and buy one more epi les paul here.
			I am so lost without electric guitar, i can't find no riff in acoustic
		</article>
		<aside class="thread-meta">
			<ul>
				<li><i class="icon-calendar"></i> <time datetime="2012-09-09"><mark>9 Sep</mark> 2012 </time></li>
				<li><i class="icon-time"></i> <time datetime="14:00"><mark>2</mark> PM</time></li>
				<li><i class="icon-replies"></i> <mark>6</mark> replies</li>
				<li><i class="icon-reply"></i> <mark class="size">Reply</mark></li>
			</ul>
		</aside>

		<article>
			<span class="author">Simanta Datta</span>
			Gojira comes with the best death metal riffs
			<span class="meta">9 hours ago</span>
		</article>

		<article>
			<span class="author">Simanta Datta</span>
			and duplantier has the best vocal.. like townsend.. i like these growl with melody shit man... it's not easy to do
			<span class="meta">9 hours ago</span>
		</article>

		<article>
			<span class="author">Sachin Suresh Pratap Singh</span>
			Bokachoda
			<span class="meta">9 hours ago</span>
		</article>

		<article>
			<span class="author">Dinesh Sukhija</span>
			How long will you keep trading your life Simanta?
			<span class="meta">7 hours ago</span>
		</article>

		<article>
			<span class="author">Karan Sheth</span>
			please dont sell your epi les paul in India. If you're selling I'll keyep it. I'll pay you installments... over a few thousand years. But sirislly. The only reason I wasn't playing it cuz I feel uncomfortable with panzy .9 strings now. I needs mah .11-12s.
			<span class="meta">6 hours ago</span>
		</article>

		<section id="reply-field">
			<div><i class="large-icon-keyboard"></i> Reply</div>
			<textarea name="thread-reply" class="nodisplay"></textarea>
		</section>
	</section>
</div>
</body>
</html>