// stylus variables
$grid = 14
$fontSize = 13px
$fontSmall = 11px
$fontBig = 16px
$fontFamily = 'Open Sans', Helvetica, Arial, sans-serif
$bodyTextColor = #646464

// stylus functions
grid(n)
    n*$grid px

/* direct tag styles */
body 
    padding 0
    margin 0
    font-family: $fontFamily
    font-size $fontSize
    color: $bodyTextColor
a 
    color #00B7FF
h1
    padding 0
    margin 0
    line-height 1em
    height 24px
    font-weight 600

mark
    color: #648bbd
    background-color: transparent
    font-weight: 600

strong
    font-weight: 600

footer
    margin-top: grid(1)

input, textarea
    border: 2px solid #fafafa
    padding: grid(.5)
    outline: 0
    font-family: $fontFamily
    font-size $fontBig
    color: $bodyTextColor

header
    position: fixed
    width: inherit
    z-index: 15

/* classes */
div.container 
    width grid(68)
    margin 0 auto
    padding 0

/* --reusable */
.author
    font-weight 600
.no-display
    display: none
.box-shadow
    box-shadow: 0 0 5px #ccc
mark.size
    color: #646464
    font-size: $fontBig 

/* ids */
#black-box
    float left
    position relative
    background-color #000
    padding grid(1)
    width grid(15)
    height grid(6)
    aside
        color #fff
        font-size $fontSmall
        float right
        line-height grid(1)
        span
            color #8c8c8c
    h1
        position absolute
        bottom 8px
        a
            color #aa66cc
            text-decoration none    

#top-bar
    float left
    width grid(49)
    line-height grid(2)
    padding 0 grid(1)
    background-color #ececec
    color #919191

#global-stats
    display: none
    position: absolute
    width: grid(21)
    top: grid(8)
    padding: grid(1)
    z-index: 1
    background-color: rgba(255, 255, 255, 0.9)
    border: 1px solid #eee
    ul
        list-style: none
        margin: 0
        padding: 0
        li
            list-style: none
            display: block

#new-thread
    float: left
    height: grid(5)
    margin: grid(1)
    font-size: 23px
    color: #919191
    background-color: rgba(255, 255, 255, 0.9)
    #start-thread-btn
        display: inline-block
        height: grid(5)
        width: grid(5)
        line-height: grid(5)
        text-align: center
        background-color: #f1f8dc
        margin: 0

#new-thread-tip
    display: none
    position: absolute
    width: grid(43)
    margin-left: -14px
    padding: grid(1)
    background-color: rgba(255, 255, 255, 0.9)
    line-height: grid(3)
    font-size: grid(2)
    font-weight: 300
    color: #919191
    border: 1px solid #eee

#thread-list
    width: grid(23)
    overflow: hidden
    top: grid(9)
    position: fixed
    z-index: 0
    ul
        overflow: auto
        width grid(25)
        padding 0
        margin 0
        list-style: none
        li
            width grid(21)
            padding: grid(1)
            margin: 0 grid(1) grid(1) 0
            list-style: none
            display: block
            cursor: pointer
            .author
                font-size $fontSmall
                display: block
        li.odd
            background-color: #fafafa
        li.odd:hover
            background-color: darken(#fafafa, 5)
        li.even
            background-color: #f5f5f5
        li.even:hover
            background-color: darken(#f5f5f5, 5)

#thread-details
    float: right
    width: grid(44)
    padding: grid(3) 0 0
    z-index: 20
    .first-post
        display: inline-block
        background-color: #fff3d9
        padding: grid(1)
        width: grid(31)
        vertical-align: top;
    .author
        display: block
    .meta
        display: block
        font-size: $fontSmall
        color: #919191
    .thread-meta
        display: inline-block
        width: grid(9)
        font-weight: 600
        ul
            list-style: none
            padding: 0
            margin: 0
            li
                list-style: none
                padding: 0
                margin: 0
    article
        padding: grid(1) 0 0
    #reply-field
        background-color: #fafafa

/* icons */
[class^="icon"]
    display: inline-block
    width: 24px
    height: 24px
    vertical-align: middle
    background-repeat: no-repeat
    background-image: url('../images/alsichat_sprite.png')
    margin: 0 5px

.icon-invite
    background-position: -24px 0;

.icon-threads
    background-position: -72px 0;

.icon-replies
    background-position: -120px 0;

.icon-people
    background-position: 0 0;

.icon-time
    background-position: -48px 0;

.icon-reply
    background-position: -96px 0;

.icon-calendar
    background-position: -144px 0;

.icon-big-plus
    width: 29px;
    height: 29px;
    background-position: 0 -24px;

.icon-big-keyboard
    background-position: -24px 0;